@import "../../styles/varibales.module.scss";

.courses {
  @include centering();
  margin: 10% auto;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 35, 15);
    line-height: 130%;
    color: #322f55;
  }

  .courses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;

    .filtered {
      display: flex;
      gap: 2%;

      .filtered__select {
        @include adaptive-value("width", 300, 110);
        @include adaptive-value("height", 62, 32);

        span {
          font-weight: 700;
          @include adaptive-value("font-size", 18, 8);
          line-height: 130%;
          color: #7329c2;
        }
      }
    }

    .result {
      font-weight: 700;
      @include adaptive-value("font-size", 22, 10);
      line-height: 130%;
      color: #322f55;
    }
  }

  .courses__footer {
    display: flex;

    .pagination {
      margin: 5% auto;
    }
  }
}
