@import "../../styles/varibales.module.scss";

.statistics {
  @include centering();
  padding: 10% 5% 5%;
  box-sizing: border-box;

  .statisticsSlider {
    @include adaptive-value("height", 220, 150);

    .statistics__item {
      text-align: center;
      margin: 0 auto;

      .__num {
        font-weight: 700;
        @include adaptive-value("font-size", 58, 30);
        line-height: 130%;
        color: #03d665;

        &::after {
          content: "+";
        }
      }

      p {
        font-weight: 700;
        @include adaptive-value("font-size", 15, 10);
        line-height: 130%;
        color: #a7b0c2;
        letter-spacing: 1px;
      }
    }
  }
}
