@import "../../../styles/varibales.module.scss";

.addMore__list {
  @include centering();
  margin: 20% 0;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 30, 20);
    line-height: 130%;
    color: #322f55;
    margin: 5% 0 1%;
  }

  .addMore__item {
    display: flex;
    gap: 50px;
    margin: 0 0 5%;

    .addMoreFirst__button {
      background-color: #7329c2;
      border: 1px solid #7329c2;
      color: #ffffff;
      transition: all 0.5s;

      &:hover {
        background-color: transparent;
        border: 1px solid #7329c2 !important;
        color: #7329c2 !important;
        transition: all 0.5s;
      }
    }

    .addMoreSecond__button {
      background-color: #03d665;
      border: 1px solid #03d665;
      color: #ffffff;
      transition: all 0.5s;

      &:hover {
        background-color: transparent;
        border: 1px solid #03d665 !important;
        color: #03d665 !important;
        transition: all 0.5s;
      }
    }
  }
}
