@import "../../../../styles/variables.module.scss";

.addingVideo {
  max-width: 1000px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 200px auto;
  padding: 5% 2%;
  box-sizing: border-box;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 40, 20);
        color: #03d665;
    text-align: center;
    margin: 0 0 30px;
  }

  .addingVideo__button {
    margin: 5% 0 0;
  }
}
