@import "../../styles/varibales.module.scss";

.search {
  height: 100vh;
  @include centering();
  margin: 10% auto;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 30, 20);
    line-height: 130%;
    color: #03d665;
    margin: 2% 0
  }

  .search__input {
    @include adaptive-value("height", 50, 20);
    @include adaptive-value("font-size", 20, 8);
    border-radius: 20px;
    box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
    transition: all 0.4s;
  }

  .search__text {
    font-weight: 400;
    @include adaptive-value("font-size", 20, 8);
    line-height: 130%;
    color: #322f55;
    padding: 5% 0;
    box-sizing: border-box;
  }
}
