@import "../../styles/varibales.module.scss";

.addAnotherSection {
  @include centering();
  margin: 20% 0;
  .addAnotherSection__buttons {
    display: flex;
    gap: 50px;
    h2 {
      font-weight: 700;
      @include adaptive-value("font-size", 40, 20);
      line-height: 130%;
      color: #03d665;
      text-align: center;
      margin: 0 0 30px;
    }
  }
}
