@import "../../../styles/varibales.module.scss";

.video{
    width: 100%;
}

.video__description{
    font-weight: 400;
    @include adaptive-value("font-size",22, 12);
    line-height: 130%;
    color: #322f55;
    padding: 2% 0;
    box-sizing: border-box;
}