@import "./styles/variables.module.scss";

.cart {
  @include centering();
  margin: 20% auto;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 35, 20);
        color: #322f55;
    padding: 2% 0;
  }

  .cart__content {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("gap", 20, 10);

    aside {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptive-value("gap", 20, 5);
      box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
      border-radius: 4px;
      padding: 5%;
      box-sizing: border-box;

      .aside__total {
        font-weight: 700;
        @include adaptive-value("font-size", 15, 8);
                color: #a7b0c2;
      }

      .aside__price {
        white-space: nowrap;
        font-weight: 700;
        @include adaptive-value("font-size", 22, 10);
                color: #322f55;
      }

      .aside__Button {
        @include adaptive-value("width", 280, 100);
        background-color: #03d665;
        color: #ffffff;
        transition: all 0.5s;

        &:hover {
          background-color: transparent;
          border: 1px solid #03d665;
          color: #03d665;
          transition: all 0.5s;
        }
      }
    }

    .cart__rightBlock {
      width: 100%;
      .cart__isEmpty {
        font-weight: 700;
        @include adaptive-value("font-size", 35, 20);
                color: #322f55;
        padding: 2% 5%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cart {
    .cart__content {
      flex-direction: column;
    }
  }
}
