@import "../../styles/varibales.module.scss";

.teacher {
  @include centering();
  margin: 10% auto;

  .teacher__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .teacher__introduction {
      display: flex;
      align-items: center;
      gap: 20px;

      .teacher__avatar {
        @include adaptive-value("width", 150, 70);
        @include adaptive-value("height", 150, 70);
        border-radius: 50%;
        object-fit: cover;
      }

      .teacher__list {
        .teacher__static {
          font-weight: 700;
          @include adaptive-value("font-size", 15, 8);
          line-height: 130%;
          color: #a7b0c2;
        }

        .teacher__fullName {
          font-weight: 700;
          @include adaptive-value("font-size", 30, 15);
          line-height: 130%;
          color: #03d665;
        }

        .teacher__profession {
          font-weight: 700;
          @include adaptive-value("font-size", 15, 12);
          line-height: 130%;
          color: #191970;
        }

        dl {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 2% 0 0;

          span {
            text-align: center;
            dt {
              font-weight: 700;
              @include adaptive-value("font-size", 15, 8);
              line-height: 130%;
              color: #191970;
            }

            dd {
              font-weight: 700;
              @include adaptive-value("font-size", 15, 8);
              line-height: 130%;
              color: #a7b0c2;
            }
          }
        }
      }

      .teacher__socialMedia {
        display: flex;
        flex-direction: column;
        @include adaptive-value("gap", 20, 2);

        li {
          a {
            .teacher__social {
              @include adaptive-value("width", 20, 12);
              @include adaptive-value("font-size", 20, 12);
              color: #7329c2;
            }
          }
        }
      }
    }

    .teacher__title {
      font-weight: 700;
      @include adaptive-value("font-size", 20, 12);
      line-height: 130%;
      color: #191970;
    }

    .teacher__description {
      font-weight: 400;
      @include adaptive-value("font-size", 15, 8);
      line-height: 130%;
      color: #a7b0c2;
    }
  }

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 35, 15);
    line-height: 130%;
    color: #191970;
    padding: 10% 0 0;
  }
}
