@import "./styles/varibales.module.scss";

.basket {
  @include centering();
  margin: 20% auto;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 35, 20);
    line-height: 130%;
    color: #322f55;
    padding: 2% 0;
  }
}
