@import "../../../styles/varibales.module.scss";

.passwordRecovery {
  max-width: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 200px auto;
  padding: 3% 2%;
  box-sizing: border-box;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 24, 20);
    line-height: 130%;
    color: #322f55;
    text-align: center;
    margin: 0 0 30px;
  }

  .deIndenting{
    margin: 0;
  }

  .successful {
    font-weight: 500;
    @include adaptive-value("font-size", 14, 12);
    line-height: 130%;
    color: #03d665;
  }

  .error {
    font-weight: 500;
    @include adaptive-value("font-size", 14, 12);
    line-height: 130%;
    color: #ff4d4f;
  }
  
  .passwordRecovery__button {
    background-color: #7329c2;
    color: #ffffff;
    margin: 0 auto;

    &:hover,
    &:focus {
      background-color: #03d665;
      border-color: #03d665;
    }
  }

}
