@import "./styles/varibales.module.scss";

.profile {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;


  .profile__content {
    margin: 5% 20%;

    .container {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .fullName {
        h2 {
          font-weight: 500;
          @include adaptive-value("font-size", 30, 20);
          line-height: 140%;
        }

        p {
          font-weight: 700;
          @include adaptive-value("font-size", 18, 12);
          line-height: 160%;
          color: #838383;
        }
      }
    }

    .text {
      max-width: 600px;
      margin: 5% 0;
      font-weight: 400;
      @include adaptive-value("font-size", 18, 12);
      line-height: 160%;
    }
  }

  .loading {
    margin: -300px 0 0 0;
  }
}

@media (max-width: 768px) {
  .profile {
    .profile__content {
      position: relative;
      margin: 5%;
    }
  }
}
