@import "../../styles/varibales.module.scss";

.course__item {
  border-bottom: 1px solid #a7b0c2;
  padding: 2% 0;

  .course__link {
    display: flex;
    @include adaptive-value("gap", 20, 10);

    .course__image {
      width: 400px;
      height: 180px;
      position: relative;

      @media screen and (max-width: 1024px) {
        & {
          @include adaptive-value("width", 400, 120);
          @include adaptive-value("height", 180, 70);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .blackout {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.7s;

        span {
          font-weight: 700;
          @include adaptive-value("font-size", 20, 12);
          line-height: 130%;
          color: #ffffff;
        }
      }

      &:hover .blackout {
        opacity: 1;
        padding: 2px;
        box-sizing: border-box;
        transition: all 0.7s;
      }
    }

    .course__info {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .content__list {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .course__title {
          font-weight: 700;
          @include adaptive-value("font-size", 25, 10);
          line-height: 130%;
          color: #322f55;
        }

        .course__desciption {
          font-weight: 400;
          @include adaptive-value("font-size", 15, 8);
          line-height: 130%;
          color: #322f55;
        }

        .course__creator {
          font-weight: 700;
          @include adaptive-value("font-size", 15, 8);
          line-height: 130%;
          color: #a7b0c2;
        }

        .course__rating {
          display: flex;
          align-items: center;
          gap: 10px;

          pre {
            font-weight: 500;
            @include adaptive-value("font-size", 18, 8);
            line-height: 130%;
            color: #ffd700;
          }

          ul {
            display: flex;
            li {
              @include adaptive-value("font-size", 18, 8);
              @include adaptive-value("margin-inline-end", 10, 2);
            }
          }
        }

        .course__duration {
          font-weight: 700;
          @include adaptive-value("font-size", 15, 8);
          line-height: 130%;
          color: #a7b0c2;
        }

        .course__language {
          font-weight: 700;
          @include adaptive-value("font-size", 18, 8);
          line-height: 130%;
          color: #322f55;
        }
      }

      .course__price {
        white-space: nowrap;
        font-weight: 700;
        @include adaptive-value("font-size", 22, 10);
        line-height: 130%;
        color: #322f55;
      }
    }
  }

  .course__trash {
    display: flex;
    justify-content: flex-end;
    svg {
      @include adaptive-value("height", 25, 15);
      @include adaptive-value("font-size", 25, 15);
      color: #7329c2;
      padding: 1%;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: #03d665;
        transition: all 0.3s;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .course__item {
    .course__link {
      .course__info {
        flex-direction: column;
      }
    }
  }
}