.errorPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorPage__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.errorPage__content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #322f55;
  text-align: center;
}

.errorPage__content p {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #322f55;
  text-align: center;
}

.adminPage__button {
  width: 200px;
}
