@import "../../styles/varibales.module.scss";

.model {
  @include centering();
  position: relative;
  height: 60vh;

  h2 {
    max-width: 500px;
    position: absolute;
    top: 20%;
    right: 5%;
    font-weight: 700;
    @include adaptive-value("font-size", 40, 20);
    line-height: 130%;
    color: #7329c2;
    text-align: start;
  }
}
